// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$roboto-font: "Roboto", sans-serif;
$font-size-base: 16px;
$primary-color: #515DEF;
$margin: 40px;
$secondary-color: #333333;
$tertiary-color: #909090;